/*Variables generales*/
$colorGolden:#B69121;
$colorGolden2: #DE9D37;
$colorBlack: black;
$colorWhite: #ffffff;
$colorWhite2: #fff;
$colorWheat: wheat;
$df:flex;
$ai:center;
$font-s: 18px;
$pixel0: 0px;
$styleNo: none;
$positionRe: relative;
$positionAb: absolute;


